/env
mec-mini-projects/credentials.py
/data
test.py
credentials.py
mec-mini-projects/mec-6.4.1.data-wrangling-at-scale-with-spark/output
mec-mini-projects/mec-6.4.1.data-wrangling-at-scale-with-spark/output_json
mec-mini-projects/mec-6.4.1.data-wrangling-at-scale-with-spark/NASA_access_log_Aug95.gz
mec-mini-projects/mec-6.4.1.data-wrangling-at-scale-with-spark/NASA_access_log_Jul95.gz
mec-mini-projects/mec-6.4.1.data-wrangling-at-scale-with-spark/access_log_Aug95
mec-mini-projects/mec-6.4.1.data-wrangling-at-scale-with-spark/access_log_Jul95
